.recipes{

    max-width: 100rem;
    margin: 0 auto;
    padding: 3rem;

    &__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3.2rem;
        
        @media screen and (max-width: 37.5em) {
            grid-template-columns: 1fr;
        
    }
    }


}

 