.search {
 
  &-form {
    display: flex;
    align-items: center;
    background-color: blue;
    background-color: #fff;
    border-radius: 10rem;
    padding-left: 3rem;
    transition: all 0.3s;

	border: 1px solid black;
    margin: 2rem;
	width: fit-content;

    &:focus-within {
      box-shadow: 0 1rem 5rem rgba(36, 106, 60, 0.15);
      transform: translateY(-3px);
    }
  }

  &-field {
    border: none;
    background: transparent;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 100%;
	border: none;
	outline: none;
  }
  &-group {
    display: flex;
    align-items: center;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;;
    border-radius: 1.2rem;
	width: 30rem;
}
&-btn {
	font-weight: 700;
    border-radius: 10rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1.2rem 3.2rem;
    transition: all 0.3s;
	background: green;
	border: none;

    display: flex;
    align-items: center;
  }
}
